body{
    width: 100%;
    height: 100vh;
    padding-top: 100px;

    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.corpo{
    padding-top: 200px;
}
.navbar{
    padding-top: 0!important;
}
.img-logo{
    height: 10rem;
    width: 12rem;
}

div{
    border-top: none!important;
}

main{
    width: 100%;
}
footer {
    color: #FDC501;
    background-color: #000000da;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

a {
    color: #000000da;
}

a:visited {
    color: #000000da;
}