body{
    width: 100%;
    height: 100vh;
    padding-top: 100px;

    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-family: 'Ubuntu Mono', monospace;
}
.corpo{
    padding-top: 200px;
}
.navbar{
    padding-top: 0!important;
}
.img-logo{
    margin-left: 6rem;
    height: 11rem;
    width: 10rem;
}
.nav-item a:hover{
    text-decoration: underline;
}

div{
    border-top: none!important;
}

main{
    width: 100%;
}


/* footer a {
    color: #FDC501;
} */

/* a:visited {
    color: #000000da;
} */
::selection {
    background: #000000da;
    color: #000000da;
}
.invisivel{
    display: none;
}
footer {
    color: #FDC501;
    background-color: #000000da;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
