@media screen and (max-width: 700px){
    .img-logo{
        display: none;
    }
    .carrocel{
        display: none!important;        
    }
    
    .wrapper .table{
      width: 100%;
    }
  
    .table.premium{
      margin: 40px 0px;
    }
    .table.ultimate{
      margin: 0px;
    }
    
  }

  